@{
  Layout = "_Layout";
}
@using System.Linq;
@using ToDoList.Models;
@model IEnumerable<ToDoList.Models.Item>;

<h1>@User.Identity.Name's Items & To Do's</h1>

@if (@Model.Any())
{
  <ul>
    @foreach (Item item in Model)
    {
      @if (@item.Complete == false)
      {
      <li>@Html.ActionLink($"{item.Description}", "Details", new {id=item.ItemId}) | @item.DueDate | "Not Complete"</li>
      }
      else 
      {
      <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }) | @item.DueDate | "Complete"
      </li>
    }
  }
  </ul>
}
else
{
  <h3>No items have been added yet!</h3>
}

<p>@Html.ActionLink("Add new item", "Create")</p>

<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>